page-vainqueurs-par-prix {

        ion-grid {
        padding : 0px;
    }
    p {
        margin:  0px ;
    }
  

    ion-content {
font-family: "Times New Roman", Times, serif;
}
ion-row{
    font-size: 13px;
}

}
