.ios, .wp ,.md {

page-palmares {

.btn-group2 {display: none;} 

div .b1:hover  {
    background-color: #fe3;
}
.demo1 + div {
  display:block;
}

  .style1{
        border-left: 1px solid  gray;
        border-right: 1px solid  gray;
    }
        ion-toolbar{
 
        text-align: center;
    }
}

}
