.ios ,.wp  , .md {


page-detail-jockey {

ion-content {
font-family: "Times New Roman", Times, serif;
}

ion-col {
    border-bottom : 1px solid  #b5a881 ;
    padding: 3px;
    margin : 5px 0px 0px 0px ;
}
ion-row {
    font-size: 12px ;
    
}
ion-grid {
    padding: 0px;
    margin-top: 10px;
}



}
}