.ios, .wp ,.md {
 
    my-page {

   .header_img {
     
    height: 60px; 
    background-color: #f8f9fb;
    text-align: center;
   }     
.ios .header_img {
        margin-top: 17px; 
}
    .button {
   
    margin: 1.2rem 1.2rem 0rem  1.2rem  ;
    height: 7.8rem;
    padding: 3px 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, sans-serif;
    color: #ffffff;
    background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 
     width: 93%;
     position: relative;
    }
  
  
    ion-navbar {
        min-height: 40px !important;
        font-family: "Open Sans", Arial, sans-serif;
        letter-spacing: 2px;
    }
    ion-toolbar{
        min-height: 45px ;
        text-align: center ;
        padding : 0px ;
    }
 
    .btn-group ion-icon{
        position:absolute;
        right:15px;
    }
    .btn-group{
            margin-top: 30px;
    }
    .style1{
        border-left: 1px solid  gray;
        border-right: 1px solid  gray;
    }

    .btn-group2 {
    display: none; 
    
    
    } 
    .demo1 + div {
    display:block;
    }
 
    .item {
        
    color: #fff;
    background-color: rgba(52, 51, 50, 0.91);;
     padding: 3px 6px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
     margin: 0rem 1.2rem 0rem  1.2rem ;
     width: 93%;
   
    }


    }
 
}