.ios , .md , .wp {


page-liste-categorie {

    ion-list {
        margin-top: 10px;
    }
    .button {
            text-transform: capitalize;
    }
 ion-content {
font-family: "Times New Roman", Times, serif;
}
ion-row{
    font-size: 13px;
}

}

}
