// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
        background-color: #c8c7cc;;
}
h2
{
    font-Family: Cursive;
    font-size: 2rem;
     margin : 8px 0px 0px 12px;
     color: #5b6b77 ;
}
    ion-navbar {
    min-height: 40px !important;
}
ion-navbar.toolbar.toolbar-ios.toolbar-ios-navb.statusbar-padding {
    height : 46px;
}

    ion-col {
    border-bottom : 1px solid  #b5a881 ;
    padding: 3px;
    margin : 10px 0px 0px 0px ;
}

 ion-row:nth-child(odd) {
  background-color: #f3f8fc;
}
ion-row:nth-child(even) {
  background-color: #ffffff;
}
ion-searchbar {
    
    margin: 6px 0px 6px 0px !important;  
    padding: 5px !important;
    height: auto !important;
    border-radius: 2px !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    line-height: 3rem !important;
    border-radius: 6px !important;
    background-color: rgba(0, 0, 0, 0.74) !important;
}
 ion-title {
font-family: "Times New Roman", Times, serif;
}
.toolbar-title-md {
    padding: 0px !important;
    font-size: 1.7rem !important;
    text-align: center !important ;

}

.toolbar-ios ion-title {
    padding: 0px 50px ;
}
ion-navbar.toolbar.toolbar-ios.toolbar-ios-navb.statusbar-padding {
    height: 40px !important;
}

.segment-button.segment-activated {
  
    background-color: #b5a881  !important;
        border-color: #424242  !important;
}
.segment-button{
        color: #f8f9fb !important;
       background-color: rgba(34, 34, 34, 0.85)  !important;
        border-color: #424242  !important;
        text-transform: capitalize  !important;
        height: 35px  !important;
}

ion-grid {
    padding: 0px;
}