<!--
  Generated template for the DetailEtalon page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


   <ion-toolbar >

    <ion-title style="text-align: center ;"> <img src="assets/img/logo1.png"  height="60%" /> </ion-title>

  </ion-toolbar>
  <ion-navbar color ="navb">
    <ion-title> {{courseEtalon[0] }} {{courseEtalon[1]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div *ngIf="cheval" class="des_etalon">
      <b>{{cheval.Cheval.nom}} </b>  <b > Male </b> 
     <b> Né en : </b> {{cheval.Cheval.ne}}  <br>   
      <b>Par :</b> {{cheval.Cheval.nom_p}} & {{cheval.Cheval.nom_m}} <br>
         <b> Éleveur : </b> {{cheval.Eleveur.nom_prenom}}
  </div>
  <div padding style="padding-bottom: 13px;">
    <ion-segment [(ngModel)]="etalon">
      <ion-segment-button value="Production">
        Production
      </ion-segment-button>
      <ion-segment-button value="Palmarés Prod">
       Palmarés Production
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="etalon">
    <ion-grid *ngSwitchCase="'Production'">
   
      <ion-row style="background-color: #eae2cd ; font-weight: bold ;">

          <ion-col width-25 style="text-align: left;">
            Année   
          </ion-col >

          <ion-col width-20  style="text-align: center;">
            Chev  
          </ion-col >

          <ion-col width-15  style="text-align: center;">
            Vainq
          </ion-col >
         <ion-col width-20>
             Nbr.Crs
         </ion-col >
         <ion-col width-20>
            Allo.Tot
          </ion-col >
      </ion-row>
       <ion-row *ngFor="let item of production ; let i=index">
        <ion-col width-25> {{item.annee}}</ion-col>

          <ion-col width-20 > {{item.Chev}}</ion-col>
          <ion-col width-15> {{item.vainqueurs}}</ion-col>    
          <ion-col width-20> {{item.NbCrs}}</ion-col>
          <ion-col width-20> {{item.alloc_Tot}} </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of total " style="background-color: #eae2cd ; font-weight: bold ;">
            <ion-col width-25> Total</ion-col>

          <ion-col width-20 > {{item.Chev}} </ion-col>
          <ion-col width-15> {{item.vainqueurs}}</ion-col>    
          <ion-col width-20> {{item.NbCrs}}</ion-col>
          <ion-col width-20> {{item.alloc_Tot}} </ion-col>

      </ion-row> 

    </ion-grid>
    
    <ion-grid *ngSwitchCase="'Palmarés Prod'">
           <ion-slides pager="true" >

  <ion-slide >


  <ion-row style="background-color: #eae2cd ; font-weight: bold ;">

          <ion-col width-25 style="text-align: left;">
            Chevaux
          </ion-col >

          <ion-col width-20  style="text-align: center;">
            Année 
          </ion-col >

          <ion-col width-15  style="text-align: center;">
            Sexe
          </ion-col >
         <ion-col width-20>
             Mères
         </ion-col >
         <ion-col width-20>
            P. de Mères
          </ion-col >
      </ion-row>
      <ion-row *ngFor="let member of members" (click)="View(member)">
        <ion-col width-25 style="text-decoration-line: underline; text-align: left;">  <b> {{member.Cheval.nom}} </b> </ion-col>

          <ion-col width-20 style="text-align: center;">{{member.Cheval.ne}} </ion-col>
          <ion-col width-15 style="text-align: center;">
                <p *ngIf="member.Cheval.sexe==1">M</p>
                <p *ngIf="member.Cheval.sexe==2">F</p> 
          </ion-col>    
          <ion-col width-20> {{member.Cheval.nom_m}} </ion-col>
          <ion-col width-20> {{member.Cheval.nom_pm}} </ion-col>
      </ion-row>
     </ion-slide>

  <ion-slide>
       <ion-row style="background-color: #eae2cd ; font-weight: bold ; text-align: center ;">
          <ion-col width-25 style="text-align: left;">
            Chevaux
          </ion-col >
          <ion-col width-15>
            Nb. Crs
          </ion-col >
         <ion-col width-20>
             Vict
         </ion-col >
             <ion-col width-20>
            Plc 
          </ion-col >
         <ion-col width-20>
          Alloc.Tot
          </ion-col >
      </ion-row>
      <ion-row *ngFor="let member of members" (click)="member">
        <ion-col width-25 style="text-decoration-line: underline;"><b>  {{member.Cheval.nom}}  </b></ion-col>

         
          <ion-col width-15 style="text-align: center ;">
           {{member.Course.length}}
          </ion-col>    
          <ion-col width-20 style="text-align: center ;"v>{{filterDataAuto(member.Course).length}} </ion-col>
           <ion-col width-20 style="text-align: center ;" > {{member.Course.length -  filterDataAuto(member.Course).length}}</ion-col>
          <ion-col width-20 style="text-align: center ;"> {{reduceDataAuto(member.Course)}} </ion-col>
      </ion-row>
  </ion-slide>

           </ion-slides>
    </ion-grid>
  </div>
    
</ion-content>
     <ion-footer >
    <ion-toolbar color="navb" style="min-height: 47px; padding : 0px; text-align : center ;">
         <ion-title class="style1"> <img src="assets/img/logo.png" /></ion-title>
    </ion-toolbar>
  </ion-footer>
