
.ios , .md , .wp 
{
 page-liste-annee {
  ion-item {
    height : 60px ;
      padding-left: 10px;

    }
 ion-liste {
     margin-top: 20px ;
 }
 ion-content {
font-family: "Times New Roman", Times, serif;
}

}
}